#mainPane {
    -fx-background-color: linear-gradient(to top, #81B4D1 0%, #D5E2ED 83%);
}

.vboxx {
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.hboxx {
    -fx-padding: 0 0 40 0;
    -fx-alignment: CENTER;
}

.customUserNode {
    -fx-padding: 0 40 40 40;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
}

.customUserNode .button{
    -fx-background-color: #67c1a5;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.customUserNode .label {
    -fx-text-fill: #132b11;
    -fx-font-size: 22;
}

.customUserNode:hover {
    -fx-border-color: linear-gradient(to top, #81B4D1 0%, #D5E2ED 83%);
    -fx-border-radius: 5;
}

#log {
    -fx-font-size: 14; 
    //-fx-background-color: white;
    -fx-background-color: #f5faff;
}

#toolbar {
    -fx-background-color: transparent;
}

.dialogPane {
    -fx-background-color: linear-gradient(to top, #81B4D1 0%, #D5E2ED 83%);
}